
<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <style>
        body {
            background: #0f172a;
            color: white;
            font-family: Arial;
            text-align: center;
            margin-top: 150px;
        }

        a {
            display: inline-block;
            margin-top: 20px;
            padding: 10px 20px;
            background: #38bdf8;
            color: black;
            text-decoration: none;
            border-radius: 5px;
        }
    </style>
</head>
<body>

    <h1>🚀 Welcome to My App</h1>
    <p>Simple Login System with Flask + MySQL</p>

    <a href="/login">Go to Login</a>

</body>
</html>